<div class="card">
    <h2>{{ title }}</h2>
    <p>{{ card.name | json}}</p>
    <img [src]="imgUrl">
    <h3> {{ text }}</h3>

    <p> Price : {{ card.price | json}}</p>
    <p>{{ card.memory | json}} Gb</p>
    <p [ngStyle]="{
    color: card.amount > 3 ? 'green' : 'red'
    }">Amount in Shop :{{ card.amount }}</p>
    <h4>{{ getInfo() }}</h4>

        <div class="buttons">
            <button> More Informations</button>
        <br>
        <button (click)="changeTitle()">Change title</button>
        <br>
        <button (click)="changeAmount()">Buy</button>
         </div>
    <div>
        <input type="text" (input)="onInput($event)">
    </div>
</div>