.modal__wrapper{
    display: flex;
    justify-content: center;
    background: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal__window{
  
  
    text-align: center;
    padding: 1.5rem;
    margin: 20px;
    width: 500px;
    height: 625px;
    border: 2px solid black;
    border-radius: 15px;
    left: 32%;
    scroll-behavior: auto;
    
    position: fixed;
    top: 0;
    background: rgb(211, 214, 243);
    
}

button{
    border-radius: 15px;
}