img{
    width: 300px;
    height: 230px;
    text-align: center;
}


.card{ 
    text-align: center;
    border: 1px solid rgb(199, 194, 194);
    margin: 10px;
    padding: 10px;
}
/* button  {
    width: 100px;
    height: 40px;
    border-radius: 15%;
    color: black;
    background-color: yellow;
    border: green 1px solid;
} */

.btn1 {
        width: 100px;
        height: 40px;
        border-radius: 15%;
        color: black;
        background-color: rgb(154, 162, 240);
        border: rgb(23, 4, 83) 1px solid;
    
}
.btn2 {
    width: 100px;
    height: 40px;
    border-radius: 15%;
    color: black;
    background-color: rgb(88, 88, 236);
    border: rgb(6, 20, 99) 1px solid;

}

.product__buy{
    width: 100px;
    height: 40px;
    border-radius: 15%;
    color: black;
    background-color: rgb(109, 109, 226);
    border: rgb(6, 20, 99) 1px solid; 
}
.product__buy :hover,
.product__buy :active
{
    box-shadow: inset 0 0 20px #BFE2FF;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color: #FFF;
}